@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

html {
   scroll-behavior: smooth;
}

body {
   background: rgb(25,25,25);
   background: linear-gradient(315deg, rgba(25,25,25,1) 0%, rgba(0,40,57,1) 100%);  
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin: 0;
   height: 100%;
}

.title {
   color: white;
   margin-top: 10%;
   font-family: "Poetsen One", sans-serif;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 2px;
   font-size: 300%;
}

#description {
   font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
   color: white;
   font-size: 135%;
}

#Download {
   font-family: "Poetsen One", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: black;
   background: #ff7a7a;
   border-color: #ff7a7a;
   border-radius: 8px;
   border-style:hidden;
   padding: 0.8%;
   font-size: 125%;
   transition: padding 0.1s, background 0.1s;
}



a:link{
   text-decoration: none;
}
 

#Download:hover {
   cursor: pointer;
   padding: 1.2%;
   background: white;
}

@media (max-width: 48em) {
   #title {
      margin-top: 30%;
   }
}

.Documentation-List {
   list-style-type: none;
   position: fixed;
   color: white;
   line-height: 32px;
   left: 0%;
   margin: 0;
   padding-left: 22px;
   top: 0%;
   padding-top: 5%;
   background-color: rgb(36,36,36);
   padding-bottom: 100%;
   padding-right: 22px;
   overflow-y: auto;
   height: 200px;
   text-decoration: none;
   margin-bottom: 200px;
   max-width: fit-content;
}

.code-description {
   margin-left: 200px;
   text-align: left;
   color: white;
   font-size: 110%;
   text-wrap:wrap;
}

.Documentation-List a:link {
   color: white;
}

.Documentation-List a:visited {
   color: white;
}

.Documentation-List a:visited:hover {
   color: #ff7a7a;
}

.Documentation-List a:link:hover {
   color: #ff7a7a;
}

.child {
   text-indent: 15px;
}

.windowSnippet {
   border-radius: 5%;
}

.snippet {
   
}

.example {
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
}

#underline {
   text-decoration: underline;
   color: #ff7a7a;
}

.fit {
   max-width: fit-content;
}

